<!DOCTYPE html>
<html>
<head>
    <style>
        #app-logo {
            width: 120px;
            height: auto;
        }
    </style>
    <title>Main Index Page</title>
    <link rel="icon" type="image/x-icon" href="./static/images/favicon.ico" >

</head>
<body>
    <h1>Warning</h1>

    {% if error_msg %}
        <div style="color: red;">
            <strong>Error:</strong> {{ error_msg }}
        </div>
    {% endif %}

   <!-- Back Button -->
   <br>
   <a href="/" class="back-button">Make a new prediction</a>
</body>
</html>
