<!DOCTYPE html>
<html>

<head>
    <style>
        #app-logo {
            width: 120px;
            height: auto;
        }
    </style>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>NMR Graph Query</title>
    <link rel="icon" type="image/x-icon" href="./static/images/favicon.png" >

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor@0.9.3/deps/opt/popper/popper.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor/deps/underscore/underscore-umd-min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor@0.9.3/deps/opt/tabulator/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment./static/js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/ajv/ajv.min.js"></script>

    <script src="/static/js/semantic-ui/transition.min.js"></script>
    <script src="/static/js/semantic-ui/dimmer.min.js"></script>
    <script src="/static/js/semantic-ui/tab.min.js"></script>
    <script src="/static/js/semantic-ui/modal.min.js"></script>
    <script src="/static/js/semantic-ui/dropdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/keycloak-js@18.0.1/dist/keycloak.min.js"></script>
    <script src="/static/js/download.js"></script>
    <!--Twitter typeahead-->
    <script src="https://twitter.github.io/typeahead./static/js/releases/latest/typeahead.bundle.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars./static/js/4.7.7/handlebars.min.js"
        integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--Typeahead standalone-->
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typeahead-standalone/dist/basic.css" />
    <script src="https://cdn.jsdelivr.net/npm/typeahead-standalone"></script-->

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor@0.9.3/deps/opt/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor@0.9.3/deps/opt/fontawesome/css/all.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor@0.9.3/deps/opt/tabulator/tabulator_bootstrap4.min.css">

    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/styles.css" />

    <script src="/static/js/apply-config.js"></script>

    <!--Metadata Editor library-->
    <script src="/static/js/editor/dependencies/jsonform/jsonform.min.js"></script>
    <script src="/static/js/editor/lib//static/js/metadataeditor.js"></script>

    <!--Settings, models and ui schemas-->
    <script src="/static/definitions/metastore/itemsMetadataRecord.js"></script>
    <script src="/static/definitions/metastore/metadataRecordModel.js"></script>
    <script src="/static/definitions/metastore/metadataRecordUIDefinitionCreate.js"></script>
    <script src="/static/definitions/metastore/metadataRecordUIDefinitionRead.js"></script>
    <script src="/static/definitions/metastore/metadataRecordUIDefinitionUpdate.js"></script>
    <script src="/static/definitions/metastore/tableDefinitionMetadata.js"></script>

    <script src="/static/definitions/metastore/typeahead.js"></script>
    <script src="/static/definitions/metastore/orcid2.js"></script>
    <script src="/static/js/monaco-editor/dev/vs/loader.js"></script>
</head>

<body class="ui">
    <h1 class="ui block header">
        <img id="app-logo" src="/static/images/mm3.png" class="ui circular image">
        <div id="app-title" class="content">
            {app-title}
            <div id="app-subtitle" class="sub header">{app-subtitle}</div>
        </div>
    </h1>


    <div class="ui grid container">
        <div class="ui secondary fluid menu">
        </div>

        <div class="ui secondary fluid menu">

            <div class="right menu">
                <div class="item">
                    <p id="logged_in_as">Not logged in</p>
                </div>
                <div class="right item">

                    <div id="login_button" class="ui animated primary right button" tabindex="0">
                        <div id="login_button_text" class="visible content">Login</div>
                        <div class="hidden content">
                            <i id="login_icon" class="sign-in icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui container" style='height:90vh'>
            <div id="service-url-input" style="margin-top: 10px">
                <div class="ui grid container">
                    <!--div class="two wide column"-->
                    <div class="three wide column">
                        <div class="ui column label">
                            Service Base URL
                        </div>
                    </div>

                    <div class="thirteen wide column">
                        <div class="ui fluid icon input">
                            <input id="metastore-base-url" type="text" placeholder="MetaStore base URL...">
                            <i class="search icon"></i>
                            <div id="refresh-button" class="ui vertical animated button" tabindex="0">
                                <div class="hidden content">Reload</div>
                                <div class="visible content">
                                    <i class="fa-solid fa-arrows-rotate"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="filter_segment" class="ui segment invisible">
                <a class="ui blue ribbon label">Table Filter</a>
                <div class="sixteen column ui stackable grid" style="margin-top: 10px">
                    <div class="four wide column">
                        <select id="filter-field" class="ui fluid dropdown">
                            <option></option>
                            <option value="id">Identifier</option>
                            <option value="relatedResource.identifier">Related Resource</option>
                            <option value="schema.identifier">Schema Identifier</option>
                        </select>
                    </div>
                    <div class="two wide column">
                        <select id="filter-type" class="ui fluid dropdown">
                            <option value="=">=</option>
                            <option value="!=">!=</option>
                            <option value="like">like</option>
                        </select>
                    </div>
                    <div class="six wide column">

                        <!--input id="filter-value" class="ui input" type="text" placeholder="value to filter"-->
                        <div class="ui fluid input">
                            <input id="filter-value" type="text" placeholder="Filter value...">
                        </div>
                    </div>
                    <!--button id="filter-clear">Clear Filter</button-->
                    <div class="two wide column">
                        <div id="filter-button" class="ui vertical animated fluid button" tabindex="0">
                            <div class="hidden content">Filter</div>
                            <div class="visible content">
                                <i class="filter icon"></i>
                            </div>
                        </div>
                    </div>

                    <div class="two wide column">
                        <div id="clear-filter-button" class="ui vertical animated fluid button" tabindex="0">
                            <div class="hidden content">Clear</div>
                            <div class="visible content">
                                <i class="eraser icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui segment">
                <a class="ui blue ribbon label">NMR Query Interface</a>
                <h2>Submit Your Query</h2>
                <!-- Explanatory text for the two options -->
                <p>This graphical user interface enables one to search for NMR data resources across data bases (currenlty
                    NMRXiV - <a href="https://nmrxiv.org/">nmrxiv.org</a> and BMRB - <a href="https://bmrb.io/">bmrb.io</a>). Each data resource has been represented
                    as a FAIR Digital NMR Object (FDO) that has a unique Persistent IDentifier (PID) and a set of
                    metadata to easily identfiy and characterize an NMR resource. </p>
                <div>
                    <div>
                        <!-- Group for record attribute and value -->
                        <div class="search-fields" style="margin-bottom: 15px;">
                            <p>Query for a particular attribute and regex of a value that occur in an information record to
                                display all matching attribute values and the corresponding PID of the FDO.</p>
                            <input type="radio" value="1" name="search_type" id="query_attribute" />
                            <input type="text" name="record_attribute" id="record_attribute" class="search-field"
                                placeholder="Record Attribute">
                            <input type="text" name="attribute_value" id="attribute_value" class="search-field"
                                placeholder="Attribute Value">
                        </div>
                        <!-- Group for PID -->
                        <div class="search-fields">
                            <p>Query for a particular PID of a FDO to display all attributes and their values of its
                                information record.</p>
                            <input type="radio" value="1" name="search_type" id="query_pid" />
                            <input type="text" name="pid" id="pid" class="search-field" placeholder="PID">
                        </div>
                    </div>
                    <button id="submit_query" style="margin-top: 10px;">Execute Query</button>
                    <button id="clear_query" style="margin-top: 10px;">Clear</button>
                </div>

                <script>
                    var params = new URLSearchParams(window.location.search);
                    var query_type = params.get("query", "");

                    var all = $("input:radio[name='search_type']");
                    var active = undefined;
                    all.each((_, e) => {
                        if (e.id == query_type) {
                            active = $(e);
                        }
                    });
                    if (active == undefined) {
                        active = all.first();
                    }
                    active.prop("checked", true);
                    active.prop("disabled", true);
                    active.siblings().filter("input").prop("disabled", false);
                    var others = all.filter((_, e) => e.id != active.get()[0].id);
                    others.prop("checked", false);
                    others.prop("disabled", false);
                    others.siblings().filter("input").prop("disabled", true);
                    all.siblings().filter("input").each((_, e) => {
                        e.value = params.get(e.id, "");
                    });
                    $("input:radio[name='search_type']").on('click', function() {
                        var $box = $(this);
                        if ($box.is(":checked")) {
                            var all = $("input:radio[name='search_type']")
                            all.prop("checked", false);
                            all.prop("disabled", false);
                            all.siblings().filter("input").prop("disabled", true);
                            $box.prop("checked", true);
                            $box.prop("disabled", true);
                            $box.siblings().filter("input").prop("disabled", false);
                        } else {
                            $box.prop("checked", false);
                            $box.prop("disabled", false);
                            $box.siblings().filter("input").prop("disabled", true);
                        }
                    });

                    $("#submit_query").bind("click", (event) => {
                        var all = $("input:radio[name='search_type']");
                        var selected = all.filter(":disabled").first();
                        var params = all.siblings().filter('input')
                            .map((_, v) => v.name + "=" + v.value)
                            .get()
                            .join("&");

                        window.location.href = "/execute_query?query=" + selected.get()[0].id + "&" + params;
                    });

                    $("#clear_query").bind("click", (event) => {
                        window.location.href = "/start_query";
                    })
                </script>

                <div class="documentation">
                    <h3>Documentation</h3>
                    <p>The following queries are enabled:</p>
                    <ul>
                        <li><b>To get a list of all PIDs in the graph database, insert <i>all</i> in the PID search
                                field. </b> </li>
                        <li><b>Filter for data resource license (URL): <i>licenseURL</i> </b> </li>
                        <li><b>Filter for data resource contact information (email or ORCiD): <i>contact</i> </b> </li>
                        <li><b>Filter for the data resource location attributes (URL): <i>digitalObjectLocation</i> or
                                <i>landingPageLocation</i> </b> </li>
                        <li><b>Filter for date information attributes (YYYY-MM-DDThh:mm:ss.ssssssZ): <i>dateCreated</i>
                                or <i>dateModified</i></b> </li>
                        <li><b>Filter for date information attributes (YYYY-MM-DDThh:mm:ss.ssssssZ): <i>dateCreated</i>
                                or <i>dateModified</i></b> </li>
                        <li><b>Filter for data base internal IDs (P_id and S_id): <i>projectIdentifier</i> or
                                <i>sampleIdentifier</i></b> </li>
                        <li><b>Filter for data resource format (Media-types): <i>containerMedia-type-IANA</i> or
                                <i>media-type-IANA </i></b> </li>
                    </ul>
                </div>
                <!--div style="overflow-x: scroll"-->
                <div id="table-metadata"></div>
            </div>

            <div class="ui segment">
                <a class="ui blue ribbon label">Messages</a>

                <div id="messages" class="ui segment">
                    <div class="three column ui stackable grid">
                        <div class="column">
                            <button class="ui primary basic fluid button" onclick="removeMessages(0)">Remove
                                All</button>
                        </div>
                        <div class="column">
                            <button class="ui positive basic fluid button" onclick="removeMessages(1)">Remove
                                Information
                            </button>
                        </div>
                        <div class="column">
                            <button class="ui negative basic fluid button" onclick="removeMessages(2)">Remove
                                Error</button>
                        </div>
                    </div>
                    <div id="messages_end"></div>
                </div>
            </div>
            <div id="loading_indicator" class="ui active dimmer" style="visibility: hidden">
                <div class="ui huge text loader">Loading</div>
            </div>
        </div>

        <div id="editor_modal" class="ui overlay fullscreen modal">
            <i class="close icon"></i>
            <div id="editor_modal_header" class="header">
                Edit Metadata
            </div>
            <div class="scrolling content">
                <div class="ui top attached tabular menu">
                    <a id="record-tab" class="item active" data-tab="first">Record Metadata</a>
                    <a id="metadata-tab" class="item" data-tab="second">Metadata Document</a>
                </div>
                <div class="ui bottom attached tab positive active" data-tab="first">
                    <form id="record-form"></form>
                </div>
                <div id="metadata-tab-content" class="ui bottom attached tab segment" data-tab="second">
                    <div class="ui segment">
                        Document Version
                        <select id="document-version" class="ui dropdown">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <div id="document-version-button" class="ui vertical animated button" tabindex="0">
                            <div class="hidden content">Load</div>
                            <div class="visible content">
                                <i class="check circle outline icon"></i>
                            </div>
                        </div>
                        <div id="document-download-button" class="ui vertical animated button" tabindex="0">
                            <div class="hidden content">Save</div>
                            <div class="visible content">
                                <i class="download icon"></i>
                            </div>
                        </div>
                    </div>
                    <div id="eddi" style="width:100%;height:500px;border:1px solid grey"></div>
                </div>
            </div>
            <div class="center aligned actions">
                <div id="form_close" class="ui black deny button">
                    Close
                </div>
                <div id="form_submit" class="ui positive right labeled icon button">
                    Submit
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script type="module">
        import { unescapeXml, readFile, create_UUID } from '/static/js/editor-utils.js';
        import {
            config,
            readSchema,
            readSchemaIds,
            updateMetadataRecord,
            createMetadataRecord,
            readMetadataDocument
        } from '/static/js/metastore-utils.js';
        import { keycloak, showServiceUrl } from '/static/settings/general.settings.js';
        import { ajaxBaseUrl, appDescription, searchEnabled } from '/static/settings/metastore.settings.js';

        applyConfig(keycloak, showServiceUrl, appDescription, config, addMessage, (login, username) => {
            if (login) {
                console.log("Keycloak token:", keycloak.token);
                // Send the token to the Flask application
                $.ajax({
                    url: '/receive_token_nmr_graph', // URL of the Flask endpoint
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ token: keycloak.token }),
                    success: function (response) {
                        console.log("Token sent successfully:", response);
                    },
                    error: function (error) {
                        console.log("Error sending token:", error);
                    }
                });
                $("#logged_in_as").text("Logged in as " + username);
                $("#editor-create-button").removeAttr("disabled");
            } else {
                $("#logged_in_as").text("Not logged in.");
                $("#editor-create-button").attr("disabled", "disabled");
            }
            reloadTable();
        });

        if (!searchEnabled) {
            $('#search-tab').empty();
        }

        if (localStorage.getItem("userLoggedIn")) {
            localStorage.removeItem("userLoggedIn")
            $("#login_button").click();
        }

        if (typeof keycloak != typeof undefined && config.token == null) {
            $("#editor-create-button").attr("disabled", "disabled");
        }
        //addMessage(0, "Metadata Management successfully initialized.");

        JSONForm.elementTypes.typeahead = typeahead;
        JSONForm.elementTypes.orcid = orcid2;
        let table = null;
        let ajaxURL = null;
        let currentAjaxBaseUrl = null;

        mainMethod();

        function mainMethod() {
            let validatedRecord = null;
            let documentFile = null;
            let leftModel = null;
            let rightModel = null;
            let editor = null;
            let selectedMetadataId = null;



            currentAjaxBaseUrl = ajaxBaseUrl;
            ajaxURL = currentAjaxBaseUrl + "ui/metadata";
            config.ajaxBaseUrl = currentAjaxBaseUrl;
            $('#metastore-base-url').val(currentAjaxBaseUrl);
            tableDefinitionMetadata.ajaxURL = ajaxURL;
            tableDefinitionMetadata.ajaxError = function (cell, value) {
                addMessage(1, "Failed to access backend service at " + ajaxURL);
            };

            let doInitialFiltering = false;
            let currentUrl = window.location.href;
            let url = new URL(currentUrl);
            let schemaId = url.searchParams.get("schemaId");
            if (schemaId) {
                $("#filter-field").val("schema.identifier");
                $("#filter-type").val("like")
                $("#filter-value").val(schemaId);
                doInitialFiltering = true;
            }

            $('.menu .item').tab();

            /**Initialize and show the monaco editor. This function allows to create both: a single document editor, i.e.,
             * for creation, or a diff editor, i.e., for updates. The kind of editor is selected by the 'diff' argument.
             * Using argument 'readOnly' the editor can be initialized in read-only mode, i.e., for view operation.
             * Finally, the 'metadata' argument provides the content of the editor as plain text. Optionally, for JSON documents,
             * 'schema' may contain a JSON schema used for code-completion by the editor, if available. The 'schema' argument
             * has to be provided as object. If omitted, the document is interpreted as XML.
             * @param {string} metadata The editor content.
             * @param {object} schema The schema object optionally used for code-completion of JSON documents.
             * @param {boolean} diffMode Either true (diff mode) or false (no diff mode).
             * @param {boolean} readOnly Either true (read only mode) or false (no read only mode).
             */
            function showMonaco(metadata, schema, diffMode, readOnly) {
                let type = "JSON";
                if (editor != null) {
                    if (leftModel != null) {
                        leftModel.dispose();
                    }
                    rightModel.dispose();
                    editor.dispose();
                    leftModel = null;
                    rightModel = null;
                    editor = null;
                }

                if (schema instanceof XMLDocument) {
                    type = "XML";
                }

                require.config({ paths: { vs: '/static/js/monaco-editor/dev/vs' } });
                require(['vs/editor/editor.main'], function () {
                    if (type === "JSON") {
                        monaco.languages.json.jsonDefaults.setDiagnosticsOptions({
                            validate: true,
                            schemas: [
                                {
                                    uri: "http://www.example.org/schema/json", // id of the first schema
                                    fileMatch: ['*'], // associate with our model
                                    schema: JSON.parse(JSON.stringify(schema))
                                }
                            ]
                        });
                        leftModel = monaco.editor.createModel(metadata, 'json');
                        rightModel = monaco.editor.createModel(metadata, 'json', "http://www.example.org/schema/json");
                    } else {
                        leftModel = monaco.editor.createModel(metadata, 'xml');
                        rightModel = monaco.editor.createModel(metadata, 'xml');
                    }

                    if (diffMode) {
                        editor = monaco.editor.createDiffEditor(document.getElementById('eddi'), {
                            automaticLayout: true,
                            theme: 'vs-dark',
                            minimap: { enabled: false },
                            renderOverviewRuler: false,
                            renderIndicators: false,
                            overviewRulerLanes: 0,
                            scrollBeyondLastLine: false,
                            renderSideBySide: false,
                            diffCodeLens: true
                            // wordWrap: 'on',
                        });

                        editor.setModel({
                            original: leftModel,
                            modified: rightModel
                        });
                    } else {
                        editor = monaco.editor.create(document.getElementById('eddi'), {
                            automaticLayout: true,
                            theme: 'vs-dark',
                            model: rightModel,
                            readOnly: readOnly,
                            minimap: { enabled: false },
                            renderOverviewRuler: false,
                            renderIndicators: false,
                            overviewRulerLanes: 0,
                            scrollBeyondLastLine: false
                        });
                    }
                });
            }

            /**This function allows to update the editor with the provided content. It is meant to be used only in combination with
             * an editor previously created in diff mode and will only replace the right-hand-side of the document. All other properties
             * remain unaffected.
             * @param {string} metadata The editor content.
             */
            function updateMonaco(metadata) {
                let type = rightModel.getLanguageId();
                rightModel.dispose();

                require.config({ paths: { vs: '/static/js/monaco-editor/dev/vs' } });
                require(['vs/editor/editor.main'], function () {

                    if (type === "json") {
                        rightModel = monaco.editor.createModel(metadata, 'json', "http://www.example.org/schema/json");
                    } else {
                        rightModel = monaco.editor.createModel(metadata, 'xml');
                    }

                    editor.setModel({
                        original: leftModel,
                        modified: rightModel
                    });
                });
            }

            /** Returns the current document from the monaco editor. In Create mode, the content if simple returned.
             * In update mode, the content is only returned, if there is a difference.
             * @param {boolean} create TRUE for create mode.
             */
            function getDocumentFromMonaco(create) {
                let result = null;
                if (rightModel != null && rightModel.getValue() != "") {
                    if (create || leftModel != null && leftModel.getValue() != rightModel.getValue()) {
                        if (rightModel._languageId === "json") {
                            let metadataBlobRecord = new Blob([rightModel.getValue()], { type: "application/json" });
                            result = new File([metadataBlobRecord], 'metadata.json');
                        } else {
                            let metadataBlobRecord = new Blob([unescapeXml(rightModel.getValue())], { type: "application/xml" });
                            result = new File([metadataBlobRecord], 'metadata.xsd');
                        }
                    }
                }

                return result;
            }

            /** Download the current document from the monaco editor.
             */
            function downloadDocumentFromMonaco() {
                if (rightModel != null) {
                    if (rightModel._languageId === "json") {
                        download(rightModel.getValue(), "metadata.json", "application/json");
                    } else {
                        download(rightModel.getValue(), "metadata.xml", "application/xml");
                    }
                }
            }

            function doUpdateMetadata() {
                documentFile = getDocumentFromMonaco(false);

                if (!validatedRecord) {
                    window.alert('Please validate at least the Record Metadata.');
                    return false;
                } else if (validatedRecord && !documentFile) {
                    addMessage(0, "Performing update of metadata record.");
                    updateMetadataRecord(validatedRecord).then(success => {
                        $("#formModal").modal('hide');
                        reloadTable();
                        addMessage(0, success);
                    }).catch(error => {
                        $("#formModal").modal('hide');
                        addMessage(1, error);
                    });
                } else if (validatedRecord && documentFile) {
                    addMessage(0, "Performing update of metadata record and metadata document.");
                    updateMetadataRecord(validatedRecord, documentFile).then(success => {
                        $("#formModal").modal('hide');
                        reloadTable();
                        addMessage(0, success);
                    }).catch(error => {
                        $("#formModal").modal('hide');
                        addMessage(1, error);
                    });
                }
            }

            function doCreateMetadata() {
                //obtain document from editor
                documentFile = getDocumentFromMonaco(true);

                if (!validatedRecord || !documentFile) {
                    window.alert('Please validate/check both, Record Metadata and Metadata Document.');
                    return false;
                } else {
                    createMetadataRecord(validatedRecord, documentFile).then(success => {
                        $("#formModal").modal('hide');
                        reloadTable();
                        addMessage(0, success);
                    }, error => {
                        $("#formModal").modal('hide');
                        addMessage(1, error);
                    });
                }
            }

            function resetModalState() {
                $("#record-tab").removeClass("valid-tab");
                $("#metadata-tab").removeClass("valid-tab");
                $('#record-form').removeClass("was-validated");
                validatedRecord = null;
                documentFile = null;
                $("#record-tab").click();
            }

            function updateFilter() {
                let fieldVal = $("#filter-field").val();
                let typeVal = $("#filter-type").val()
                let filterVal = $("#filter-value").val()

                if (filterVal) {
                    addMessage(0, "Applying filter '" + fieldVal + " " + typeVal + " " + filterVal + "'");
                    table.setFilter(fieldVal, typeVal, filterVal);
                }
            }

            function clearFilter() {
                table.clearFilter();
            }

            $("#filter_button").click(() => {
                if ($("#filter_segment").hasClass("invisible")) {
                    $("#filter_segment").removeClass("invisible");
                } else {
                    $("#filter_segment").addClass("invisible");
                }

            });

            $("#schema_management_button").click(() => {
                window.open("schema-management.html", "self");
            });

            $("#search_button").click(() => {
                window.open("elastic-search-metastore.html", "self");
            });

            let inputs = {
                dataModel: getModelForOperation("READ"),
                uiForm: uiDefinitionRead,
                items: tableItems,
                tableLayout: tableDefinitionMetadata,
                tooltip4ReadIcon: "Read Metadata Record",
                tooltip4EditIcon: "Update Metadata record",
                //define callback for read icon
                readOperation: function (rowColumnvalue) {
                    resetModalState();
                    //Initialize metadata editor form for metadata
                    let url = rowColumnvalue.schema.identifier;
                    selectedMetadataId = rowColumnvalue.id;

                    readSchema(url).then(schema => {
                        return readMetadataDocument(rowColumnvalue.metadataDocumentUri).then(document => {
                            //Add metadata editor form for record
                            let options = {
                                operation: "READ",
                                dataModel: inputs.dataModel,
                                uiForm: inputs.uiForm,
                                resource: rowColumnvalue
                            };

                            //fill version selection
                            $("#document-version").empty();
                            $("#document-version-button").removeClass("disabled");

                            for (let i = 1; i <= rowColumnvalue.recordVersion; i++) {
                                if (i == rowColumnvalue.recordVersion) {
                                    $("#document-version").append('<option selected="selected" value=\"' + i + '\">' + i + '</option>')
                                } else {
                                    $("#document-version").append('<option value=\"' + i + '\">' + i + '</option>')
                                }
                            }

                            $('#record-form').empty();
                            $('#record-form').metadataeditorForm(options, null);

                            showMonaco(document, schema, true, true);

                            //remove add/delete buttons from JSONForms
                            $('._jsonform-array-buttons').each(function () {
                                $(this).attr("style", "display:none");
                            });
                            $('._jsonform-array-item-delete').each(function () {
                                $(this).attr("style", "display:none");
                            });

                            $('#edit-form').removeClass("disabled");
                            $('#form_submit').addClass("disabled");
                            $('#editor_modal_header')[0].innerText = "Show Metadata";
                            $('#editor_modal').modal('show');
                            $("#edit-form").removeClass("disabled");
                        })
                    }).catch(error => addMessage(1, error));
                },
                updateOperation: function (rowColumnvalue) {
                    resetModalState();

                    readSchema(rowColumnvalue.schema.identifier).then(schema => {
                        return readMetadataDocument(rowColumnvalue.metadataDocumentUri).then(document => {
                            //add metadata record editor
                            let options = {
                                operation: "UPDATE",
                                dataModel: getModelForOperation("UPDATE"),
                                uiForm: uiDefinitionUpdate,
                                resource: rowColumnvalue,
                                buttonTitle: "Validate"
                            };
                            selectedMetadataId = rowColumnvalue.id;

                            //fill version selection
                            $("#document-version").empty();
                            $("#document-version-button").removeClass("disabled");

                            for (let i = 1; i <= rowColumnvalue.recordVersion; i++) {
                                if (i == rowColumnvalue.recordVersion) {
                                    $("#document-version").append('<option selected="selected" value=\"' + i + '\">' + i + '</option>')
                                } else {
                                    $("#document-version").append('<option value=\"' + i + '\">' + i + '</option>')
                                }
                            }

                            $('#record-form').empty();
                            $('#record-form').metadataeditorForm(options, function onSubmitValid(updatedMetadataDocument) {
                                validatedRecord = updatedMetadataDocument;
                                $("#record-tab").addClass("valid-tab");
                            });

                            showMonaco(document, schema, true, false);
                            $("#form_submit").removeClass("disabled");
                            $('#editor_modal_header')[0].innerText = "Update Metadata";
                            $('#editor_modal').modal({
                                onDeny: () => {
                                    return true
                                },
                                onApprove: doUpdateMetadata
                            }).modal('show');
                        })
                    }).catch(error => addMessage(1, error));
                },
                createOperation: {
                    callback: function () {
                        $("#metadata-tab").addClass("disabled");
                        $("#metadata-tab-content").removeAttr("data-tab", "second");
                        resetModalState();

                        let options = {
                            operation: "CREATE",
                            dataModel: getModelForOperation("CREATE"),
                            uiForm: uiDefinitionCreate,
                            buttonTitle: "Validate"
                        };

                        $("#document-version").empty();
                        $("#document-version-button").addClass("disabled");

                        $('#record-form').empty();
                        $('#record-form').metadataeditorForm(options, function onSubmitValid(updatedMetadataDocument) {
                            //record document validated, enable and fill document tab
                            $("#record-tab").addClass("valid-tab");
                            validatedRecord = updatedMetadataDocument;
                            let record = JSON.parse(validatedRecord);
                            record.schema.identifierType = "INTERNAL";
                            validatedRecord = JSON.stringify(record);

                            // check schema identifier type and set URL accordingly
                            url = currentAjaxBaseUrl + "schemas/" + record.schema.identifier;

                            //add the schema version if it is given
                            if (record.schemaVersion !== undefined) {
                                url = url + "?version=" + record.schemaVersion;
                            }

                            //obtain schema and generate editor form
                            readSchema(url).then(result => {
                                let type = "JSON";
                                if (result instanceof XMLDocument) {
                                    type = "XML";
                                }

                                let input = document.getElementsByClassName('input-file');
                                return readFile(input).then(documentAsText => {
                                    if (documentAsText != null) {
                                        showMonaco(documentAsText, result, false, false);
                                    } else {
                                        if (type === "JSON") {
                                            showMonaco('{}', result, false, false);
                                        } else {
                                            showMonaco('<root></root>', result, false, false);
                                        }
                                    }
                                }, error => {
                                    addMessage(0, error + " Starting with empty metadata document.");
                                    if (type === "JSON") {
                                        showMonaco('{}', result, false, false);
                                    } else {
                                        showMonaco('<root></root>', result, false, false);
                                    }
                                });
                            }).catch(error => {
                                addMessage(1, error);
                            });

                            $("#metadata-tab").removeClass("disabled");
                            $("#metadata-tab-content").attr("data-tab", "second");
                        });

                        $("#form_submit").removeClass("disabled");
                        $('#editor_modal_header')[0].innerText = "Create Metadata";
                        $('#editor_modal')
                            .modal({
                                onDeny: () => {
                                    return true;
                                },
                                onApprove: doCreateMetadata
                            }).modal('show');
                    },
                    buttonTitle: "Register new Metadata Document"
                }
            };

            //create and render the table
            let tableElement = $('#table-metadata').metadataeditorTable(inputs);

            //obtain the table object for applying filters
            table = tableElement.table;
            if (doInitialFiltering) {
                updateFilter();
            }

            $("#filter-button").click(() => {
                updateFilter()
            });
            $("#clear-filter-button").click(() => {
                clearFilter()
            });
            $("#removeAllButton").click(() => {
                removeMessages(0);
            });
            $("#removeInfoButton").click(() => {
                removeMessages(1);
            });
            $("#removeErrorButton").click(() => {
                removeMessages(2);
            });

            $("#refresh-button").click(() => {
                currentAjaxBaseUrl = $("#metastore-base-url").val();
                config.ajaxBaseUrl = currentAjaxBaseUrl;
                ajaxURL = currentAjaxBaseUrl + "ui/metadata";
                tableDefinitionMetadata.ajaxURL = ajaxURL;
                addMessage(0, "Updated MetaStore base URL to " + currentAjaxBaseUrl);
                reloadTable();
            });

            //document version selection handler
            $("#document-version-button").click(() => {
                let url = currentAjaxBaseUrl + "metadata/" + selectedMetadataId + "?version=" + $("#document-version").val();
                //Obtain schema for record

                readMetadataDocument(url).then(result => {
                    updateMonaco(result);
                }, error => {
                    addMessage(1, error)
                });

            });

            //document download handler
            $("#document-download-button").click(() => {
                downloadDocumentFromMonaco();
            });

            if (localStorage.getItem("userLoggedIn")) {
                localStorage.removeItem("userLoggedIn")
                $("#login_button").click();
            }

            if (typeof keycloak != typeof undefined && config.token == null) {
                $("#editor-create-button").attr("disabled", "disabled");
            }

            //addMessage(0, "Metadata Management successfully initialized.");
        }

        /**Reload the table after an update.
         */
        function reloadTable() {
            if (table != null) {
                if (config.token != null) {
                    let ajaxConfig = {
                        method: "GET",
                        headers: {
                            "Accept": 'application/tabulator+json; charset=utf-8',
                            "Authorization": "Bearer " + config.token
                        }
                    };
                    table.setData(ajaxURL, {}, ajaxConfig);
                } else {
                    let ajaxConfig = {
                        method: "GET",
                        headers: {
                            "Accept": 'application/tabulator+json; charset=utf-8',
                        }
                    };
                    table.setData(ajaxURL, {}, ajaxConfig);
                }
            }
        }

        /**
         * Switch the operation type of the generated form. This influences visible fields and layout.
         * @param {operationType} operation The operation type to adapt model and ui to.
         */
        function getModelForOperation(operation) {
            const copy = JSON.parse(JSON.stringify(model))
            switch (operation) {
                case ("CREATE"): {
                    copy.properties.createdAt.type = "null";
                    copy.properties.lastUpdate.type = "null";
                    copy.properties.recordVersion.type = "null";
                    copy.properties.metadataDocumentUri.type = "null";
                    copy.properties.documentHash.type = "null";

                    let response = readSchemaIds();

                    if (response instanceof String) {
                        //error case, return copy without schemaId selection
                        addMessage(1, response);
                        return copy;
                    }

                    let schemaIds = [];

                    for (const schema of response) {
                        schemaIds.unshift(schema.schemaId);
                    }

                    //remove empty elements
                    const newArr = schemaIds.filter((a) => a);

                    copy.properties.schema.properties.identifier.enum = newArr;
                    return copy;
                }
                case ("READ"): {
                    copy.properties.createdAt.type = "string";
                    copy.properties.lastUpdate.type = "string";
                    copy.properties.recordVersion.type = "integer";
                    copy.properties.metadataDocumentUri.type = "string";
                    copy.properties.documentHash.type = "string";
                    return copy;
                }
                case ("UPDATE"): {
                    copy.properties.createdAt.type = "string";
                    copy.properties.lastUpdate.type = "string";
                    copy.properties.recordVersion.type = "string";
                    copy.properties.metadataDocumentUri.type = "string";
                    copy.properties.documentHash.type = "string";
                    /*  copy.properties.metadataDocument = {
                          "type": "string",
                          "title": "Metadata Document"
                      };*/

                    return copy;
                }
            }
        }


        /**Add a new message at the message area.
         * @param {integer} type Either 0 (Success) or 1 (Error)
         * @param (string) message The message to add.
         */
        function addMessage(type, message) {
            let element = $("#messages_end");
            let div = document.createElement('div');
            let messageType = "positive";
            let messageHeader = "Information";
            switch (type) {
                case 1: {
                    messageType = "negative";
                    messageHeader = "Error";
                }
            }

            let uuid = create_UUID();
            div.setAttribute("class", "ui " + messageType + " message");
            div.setAttribute("id", uuid);
            div.innerHTML =
                "<i class='close icon' onclick='closeMessage(\"" + uuid + "\")'></i>" +
                "<div class='header'>" +
                messageHeader +
                "</div>" +
                "<p>" + message + "</p>";

            element.after(div);
        }
        // Form validation script
        document.getElementById('queryForm').addEventListener('submit', function (event) {
            const recordAttribute = document.getElementById('record_attribute').value;
            const attributeValue = document.getElementById('attribute_value').value;
            const pid = document.getElementById('pid').value;

            const isRecordFieldsFilled = recordAttribute;
            const isPidFilled = pid;

            if (isRecordFieldsFilled && isPidFilled) {
                alert('Please fill either the Record fields or the PID field, not both.');
                event.preventDefault(); // Prevent form submission
            } else if (!isRecordFieldsFilled && !isPidFilled) {
                alert('Please fill either the Record fields or the PID field.');
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>

    <script>
        /**Callback for closing a single message.
         * @param {string} id UUID of the message to close.
         */
        function closeMessage(id) {
            $("#" + id).remove();
        }


        /**Callback for message removal buttons.
         * @param {integer} type Message type to remove (0=all, 1=information, 2=error)
         */
        function removeMessages(type) {
            switch (type) {
                case 0:
                    $("#messages .message:not(button)").remove();
                    return;
                case 1:
                    $("#messages .positive:not(button)").remove();
                    return;
                case 2:
                    $("#messages .negative:not(button)").remove();
            }
        }

    </script>
</body>

</html>