<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>MetaStore2 UI</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor@0.9.3/deps/opt/popper/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor/deps/underscore/underscore-umd-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor@0.9.3/deps/opt/tabulator/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/ajv/ajv.min.js"></script>

    <script src="/static/js/semantic-ui/transition.min.js"></script>
    <script src="/static/js/semantic-ui/dimmer.min.js"></script>
    <script src="/static/js/semantic-ui/tab.min.js"></script>
    <script src="/static/js/semantic-ui/modal.min.js"></script>
    <script src="/static/js/semantic-ui/dropdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/keycloak-js@18.0.1/dist/keycloak.min.js"></script>
    <!--Twitter typeahead-->
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
            integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--Typeahead standalone-->
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typeahead-standalone/dist/basic.css" />
    <script src="https://cdn.jsdelivr.net/npm/typeahead-standalone"></script-->

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor@0.9.3/deps/opt/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor@0.9.3/deps/opt/fontawesome/css/all.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@kit-data-manager/metadata-editor@0.9.3/deps/opt/tabulator/tabulator_bootstrap4.min.css">

    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/styles.css"/>

    <!--Metadata Editor library-->
    <script src="/static/js/editor/dependencies/jsonform/jsonform.min.js"></script>
    <script src="/static/js/editor/lib/js/metadataeditor.js"></script>

    <!--Settings, models and ui schemas-->
    <script src="/static/definitions/metastore/itemsMetadataRecord.js"></script>
    <script src="/static/definitions/metastore/metadataRecordModel.js"></script>
    <script src="/static/definitions/metastore/metadataRecordUIDefinitionCreate.js"></script>
    <script src="/static/definitions/metastore/metadataRecordUIDefinitionRead.js"></script>
    <script src="/static/definitions/metastore/metadataRecordUIDefinitionUpdate.js"></script>
    <script src="/static/definitions/metastore/tableDefinitionMetadata.js"></script>

    <script src="/static/definitions/metastore/typeahead.js"></script>
    <script src="/static/definitions/metastore/orcid2.js"></script>
    <script src="/static/js/monaco-editor/dev/vs/loader.js"></script>
</head>

<body class="ui">
<h1 class="ui block header">
    <img id="app-logo" src="/static/images/NEP.png" class="ui circular image">
    <div id="app-title" class="content">
        {app-title}
        <div id="app-subtitle" class="sub header">{app-subtitle}</div>
    </div>
</h1>


<div class="ui grid container">
    <div class="ui secondary fluid menu">
        
        <div class="right menu">
            <div class="item">
                <p id="logged_in_as">Not logged in</p>
            </div>
            <div class="right item">

                <div id="login_button" class="ui animated primary right button" tabindex="0">
                    <div id="login_button_text" class="visible content">Login</div>
                    <div class="hidden content">
                        <i id="login_icon" class="sign-in icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container">
        <div id="service-url-input" style="margin-top: 10px">
            <div class="ui grid container">
                <!--div class="two wide column"-->
                <div class="three wide column">
                    <div class="ui column label">
                        Service Base URL
                    </div>
                </div>

                <div class="thirteen wide column">
                    <div class="ui fluid icon input">
                        <input id="metastore-base-url" type="text" placeholder="MetaStore base URL...">
                        <i class="search icon"></i>
                        <div id="refresh-button" class="ui vertical animated button" tabindex="0">
                            <div class="hidden content">Reload</div>
                            <div class="visible content">
                                <i class="fa-solid fa-arrows-rotate"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="filter_segment" class="ui segment invisible">
            <a class="ui blue ribbon label">Table Filter</a>
            <div class="sixteen column ui stackable grid" style="margin-top: 10px">
                <div class="four wide column">
                    <select id="filter-field" class="ui fluid dropdown">
                        <option></option>
                        <option value="id">Identifier</option>
                        <option value="relatedResource.identifier">Related Resource</option>
                        <option value="schema.identifier">Schema Identifier</option>
                    </select>
                </div>
                <div class="two wide column">
                    <select id="filter-type" class="ui fluid dropdown">
                        <option value="=">=</option>
                        <option value="!=">!=</option>
                        <option value="like">like</option>
                    </select>
                </div>
                <div class="six wide column">

                    <!--input id="filter-value" class="ui input" type="text" placeholder="value to filter"-->
                    <div class="ui fluid input">
                        <input id="filter-value" type="text" placeholder="Filter value...">
                    </div>
                </div>
                <!--button id="filter-clear">Clear Filter</button-->
                <div class="two wide column">
                    <div id="filter-button" class="ui vertical animated fluid button" tabindex="0">
                        <div class="hidden content">Filter</div>
                        <div class="visible content">
                            <i class="filter icon"></i>
                        </div>
                    </div>
                </div>

                <div class="two wide column">
                    <div id="clear-filter-button" class="ui vertical animated fluid button" tabindex="0">
                        <div class="hidden content">Clear</div>
                        <div class="visible content">
                            <i class="eraser icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui segment">
            <a class="ui blue ribbon label">NMR Query Interface</a>
            <h2>Submit Your Query</h2>
                <!-- Explanatory text for the two options -->
                <p>Please fill out either the first set of fields to query by record attribute and value OR the PID field to query by PID. Do not fill both.</p>

                <form id="queryForm" action="/execute_query" method="post">
                    <!-- Group for record attribute and value -->
                    <div class="search-fields" style="margin-bottom: 15px;">
                        <p>Query for a particular attribute and regex of a value that occur in an information record to display the full value and the corresponding PID of the FDO.</p>
                        <input type="text" name="record_attribute" id="record_attribute" class="search-field" placeholder="Record Attribute">
                        <input type="text" name="attribute_value" id="attribute_value" class="search-field" placeholder="Attribute Value">
                    </div>
                    <!-- Group for PID -->
                    <div class="search-fields">
                        <p>Query for a partiuclar PID of an FDO to display all attributes and their values of its information record.</p>
                        <input type="text" name="pid" id="pid" class="search-field" placeholder="PID">
                    </div>
                    <button type="submit" style="margin-top: 10px;">Execute Query</button>
                </form>



            <div class="documentation">
                <h3>Documentation</h3>
                <p>To be done:</p>
                <ul>
                    <li><b>Record Attribute: to be done</b> </li>
                    <li><b>Attribute Value: to be done</b> </li>
                    <li><b>PID: to be done</b></li>
                </ul>
            </div>
            <!--div style="overflow-x: scroll"-->
            <div id="table-metadata"></div>
        </div>

        <div class="ui segment">
            <a class="ui blue ribbon label">Messages</a>

            <div id="messages" class="ui segment">
                <div class="three column ui stackable grid">
                    <div class="column">
                        <button class="ui primary basic fluid button" onclick="removeMessages(0)">Remove All</button>
                    </div>
                    <div class="column">
                        <button class="ui positive basic fluid button" onclick="removeMessages(1)">Remove Information
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui negative basic fluid button" onclick="removeMessages(2)">Remove Error</button>
                    </div>
                </div>
                <div id="messages_end"></div>
            </div>
        </div>
        <div id="loading_indicator" class="ui active dimmer" style="visibility: hidden">
            <div class="ui huge text loader">Loading</div>
        </div>
    </div>

    <div id="editor_modal" class="ui overlay fullscreen modal">
        <i class="close icon"></i>
        <div id="editor_modal_header" class="header">
            Edit Metadata
        </div>
        <div class="scrolling content">
            <div class="ui top attached tabular menu">
                <a id="record-tab" class="item active" data-tab="first">Record Metadata</a>
                <a id="metadata-tab" class="item" data-tab="second">Metadata Document</a>
            </div>
            <div class="ui bottom attached tab positive active" data-tab="first">
                <form id="record-form"></form>
            </div>
            <div id="metadata-tab-content" class="ui bottom attached tab segment" data-tab="second">
                <div class="ui segment">
                    Document Version
                    <select id="document-version" class="ui dropdown">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <div id="document-version-button" class="ui vertical animated button" tabindex="0">
                        <div class="hidden content">Load</div>
                        <div class="visible content">
                            <i class="check circle outline icon"></i>
                        </div>
                    </div>
                </div>
                <div id="eddi" style="width:100%;height:500px;border:1px solid grey"></div>
            </div>
        </div>
        <div class="center aligned actions">
            <div id="form_close" class="ui black deny button">
                Close
            </div>
            <div id="form_submit" class="ui positive right labeled icon button">
                Submit
                <i class="checkmark icon"></i>
            </div>
        </div>


    </div>
</div>


<!-- JS -->
<script type="module">
    import {unescapeXml, readFile, create_UUID} from '/static/js/editor-utils.js';
    import {
        config,
        readSchema,
        readSchemaIds,
        updateMetadataRecord,
        createMetadataRecord,
        readMetadataDocument
    } from '/static/js/metastore-utils.js';
    import {ajaxBaseUrl, keycloak, showServiceUrl, appDescription, searchEnabled} from '/static/js/metastore.settings.js';

    if (!showServiceUrl) {
        $('#service-url-input').empty();
    }

    if (!searchEnabled) {
        $('#search-tab').empty();
    }

    $('#app-logo').attr("src", appDescription["app-logo"]);
    let header = appDescription["app-title"] +
        '<div id="app-subtitle" class="sub header">' + appDescription["app-subtitle"] + '</div>';

    $('#app-title').html(header);

    if (typeof keycloak != typeof undefined) {
        keycloak.onAuthSuccess = function () {
            userLoggedIn(true);
        };
        keycloak.onAuthLogout = function () {
            userLoggedIn(false);
        };

        keycloak.onTokenExpired = () => {
            addMessage(0, 'Keycloak token expired. Trying to refresh.');
            keycloak.updateToken(30).success(() => {
                addMessage(0, 'Successfully got a new token.');
                config.token = keycloak.token;
                reloadTable();
            }).catch(() => {
                addMessage(1, "Failed to refresh keycloak token.");
                config.token = null;
                userLoggedIn(false);
                reloadTable();
            });
        };


        keycloak.init({
            responseMode: 'fragment'
        });

        $("#login_button").click(() => {
            if ($("#login_button_text").text() === "Login") {
                keycloak.login();
            } else {
                keycloak.logout();
            }
        });
    } else {
        $("#login_button").attr("style", "display:none");
        $("#logged_in_as").attr("style", "display:none");
    }

    function userLoggedIn(login) {
        if (login) {
            $("#login_icon").attr("class", "sign-out icon")
            $("#login_button_text").text("Logout");
            addMessage(0, 'User ' + keycloak.idTokenParsed.preferred_username + ' logged in.');
            localStorage.setItem("userLoggedIn", true);
            $("#logged_in_as").text("Logged in as " + keycloak.idTokenParsed.preferred_username);
            $("#editor-create-button").removeAttr("disabled");
            config.token = keycloak.token;
            localStorage.setItem("token", config.token);
        } else {
            $("#login_icon").attr("class", "sign-in icon")
            $("#login_button_text").text("Login");
            localStorage.removeItem("userLoggedIn", true);
            $("#logged_in_as").text("Not logged in.");
            $("#editor-create-button").attr("disabled", "disabled");
            config.token = null;
            localStorage.removeItem("token", true);
        }
        reloadTable();
    }

    JSONForm.elementTypes.typeahead = typeahead;
    JSONForm.elementTypes.orcid = orcid2;
    let table = null;
    let ajaxURL = null;
    let currentAjaxBaseUrl = null;

    mainMethod();

    function mainMethod() {
        let validatedRecord = null;
        let documentFile = null;
        let leftModel = null;
        let rightModel = null;
        let editor = null;
        let selectedMetadataId = null;

        currentAjaxBaseUrl = ajaxBaseUrl;
        ajaxURL = currentAjaxBaseUrl + "ui/metadata";
        config.ajaxBaseUrl = currentAjaxBaseUrl;
        $('#metastore-base-url').val(currentAjaxBaseUrl);
        tableDefinitionMetadata.ajaxURL = ajaxURL;
        tableDefinitionMetadata.ajaxError = function (cell, value) {
            addMessage(1, "Failed to access backend service at " + ajaxURL);
        };

        let doInitialFiltering = false;
        let currentUrl = window.location.href;
        let url = new URL(currentUrl);
        let schemaId = url.searchParams.get("schemaId");
        if (schemaId) {
            $("#filter-field").val("schema.identifier");
            $("#filter-type").val("like")
            $("#filter-value").val(schemaId);
            doInitialFiltering = true;
        }

        $('.menu .item').tab();

        if (localStorage.getItem("userLoggedIn")) {
            localStorage.removeItem("userLoggedIn")
            $("#login_button").click();
        }

        if (typeof keycloak != typeof undefined && config.token == null) {
            $("#editor-create-button").attr("disabled", "disabled");
        }

        addMessage(0, "NRM Query successfully initialized.");
    }

    /**Reload the table after an update.
     */
    function reloadTable() {
        if (table != null) {
            if (config.token != null) {
                let ajaxConfig = {
                    method: "GET",
                    headers: {
                        "Accept": 'application/tabulator+json; charset=utf-8',
                        "Authorization": "Bearer " + config.token
                    }
                };
                table.setData(ajaxURL, {}, ajaxConfig);
            } else {
                let ajaxConfig = {
                    method: "GET",
                    headers: {
                        "Accept": 'application/tabulator+json; charset=utf-8',
                    }
                };
                table.setData(ajaxURL);
            }
        }
    }



    /**Add a new message at the message area.
     * @param {integer} type Either 0 (Success) or 1 (Error)
     * @param (string) message The message to add.
     */
    function addMessage(type, message) {
        let element = $("#messages_end");
        let div = document.createElement('div');
        let messageType = "positive";
        let messageHeader = "Information";
        switch (type) {
            case 1: {
                messageType = "negative";
                messageHeader = "Error";
            }
        }

        let uuid = create_UUID();
        div.setAttribute("class", "ui " + messageType + " message");
        div.setAttribute("id", uuid);
        div.innerHTML =
            "<i class='close icon' onclick='closeMessage(\"" + uuid + "\")'></i>" +
            "<div class='header'>" +
            messageHeader +
            "</div>" +
            "<p>" + message + "</p>";

        element.after(div);
    }
</script>

<script>
    /**Callback for closing a single message.
     * @param {string} id UUID of the message to close.
     */
    function closeMessage(id) {
        $("#" + id).remove();
    }


    /**Callback for message removal buttons.
     * @param {integer} type Message type to remove (0=all, 1=information, 2=error)
     */
    function removeMessages(type) {
        switch (type) {
            case 0:
                $("#messages .message:not(button)").remove();
                return;
            case 1:
                $("#messages .positive:not(button)").remove();
                return;
            case 2:
                $("#messages .negative:not(button)").remove();
        }
    }

</script>
</body>
</html>