<!DOCTYPE html>
<html>
<head>
    <title>Image Result</title>
</head>
<body>
    <h1>Prediction Result</h1>

    <!-- Original Image with Timestamp -->
    <h2>Original Image</h2>
    <img src="{{ original_image_path }}?{{ timestamp }}" alt="Original DICOM Image">
    <br>

    <!-- Predicted Image with Timestamp -->
    <h2>Predicted Image</h2>
    <img src="{{ predicted_image_path }}?{{ timestamp }}" alt="Predicted PNG Image">
    <br>
    <a href="{{ dicom_file_path }}" download>Download Predicted DICOM File</a>

    <!-- Back Button -->
    <br>
    <a href="/" class="back-button">Make a new prediction</a>
</body>
</html>
